body {
	background-color: #222;
	color: #fff;
	font-family: 'Lexend Tera', sans-serif;
	background-size: cover;
	background-position: center;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

h1 {
	text-align: center;
	position: absolute;
	top: 17%;
	right: 0;
	left: 0;
	font-size: 50px;
	cursor: default;
	transition: 0.5s;
}

#shortcuts {
	text-align: center;
	position: absolute;
	top: 40%;
	left: 5%;
	right: 5%;
	transition: 0.3s;
}

#menubutton {
	position: absolute;
	font-size: 20px;
	top: 0;
	right: 0;
	margin: 5px;
	cursor: pointer;
}

.link {
	border: 3px solid white;
	border-radius: 16px;
	width: 150px;
	height: 150px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;
	font-size: 17px;
	line-height: 150px;
	cursor: pointer;
	transition: 0.4s;
	margin: 8px;
	color: inherit;
	text-decoration: none;
}
.link span {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}
.link:hover {
	font-size: 20px;
	border-radius: 42px;
}

#menu {
	--menu-background: #eee;
	--menu-tint: #707070;
	position: absolute;
	right: 10px;
	top: 10px;
	height: 620px;
	width: 350px;
	border-radius: 20px;
	background-color: var(--menu-background);
	display: none;
	color: black;
	overflow: hidden;
	animation: fadeIn 0.2s;
	font-family: 'Lexend Tera', sans-serif;
	text-shadow: none;
	border: var(--menu-tint) solid 3px;
	z-index: 999;
}

#menu .menupage {
	animation: fadeIn 0.3s;
	scrollbar-width: thin;
}

#menu .topbutton {
	width: 350px;
	border-radius: 15px 15px 0 0;
	background-color: var(--menu-tint);
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-size: 22px;
	cursor: pointer;
	transition: 0.4s;
	display: block;
	color: white;
}
#menu .topbutton:hover {
	background-color: #353535;
	letter-spacing: 3px;
}
#menu .topbutton.close:hover {background-color: #eb0000;}

#menu .header {
	margin: 0;
	width: 350px;
	text-align: center;
	height: 50px;
	line-height: 50px;
	font-size: 35px;
	font-weight: bold;
	display: block;
	border: 0 solid var(--menu-tint);
	border-width: 2px 0;
	cursor: default;
}

#menu .itemslist div {
	width: 310px;
	border-bottom: 2px solid #cecece;
	height: 60px;
	font-size: 20px;
	padding-left: 20px;
	line-height: 60px;
	cursor: pointer;
	padding-right: 20px;
	transition: 0.2s;
}
#menu .itemslist div:hover {
	width: 300px;
	padding-right: 30px;
}
#menu .itemslist div::after {
	content: '➤';
	float: right;
}

#menu .itemslist div.createlink:hover {
	width: 310px;
	padding-right: 20px;
	letter-spacing: 1px;
}
#menu .itemslist div.createlink:hover::after {
	font-size: 25px;
}
#menu .itemslist div.createlink::after {
	content: '✚';
	transition: 0.1s;
}

#menu .linklist > div {
	width: 320px;
	border-bottom: 2px solid #cecece;
	min-height: 60px;
	cursor: default;
	transition: 0.2s;
	display: block;
}
#menu .linklist .label {
	padding-right: 20px;
	font-size: 20px;
	padding-left: 10px;
	display: inline-block;
	line-height: 60px;
}
#menu .linklist b {
	float: right;
	font-size: 30px;
	display: inline;
	color: gray;
	cursor: pointer;
	transition: 0.3s;
	margin-left: 10px;
}
#menu .linklist .mov:hover {color: #00a2ff;}
#menu .linklist .del:hover {color: #ff0000;}
#menu .linklist .edt:hover {color: #06b900;}

#menu .inputlabel {
	width: 100px;
	display: inline-block;
	font-size: 20px;
	margin-top: 10px;
	margin-left: 5px;
}
#menu input {
	width: 200px;
	margin: 0 10px;
}

#menu .themelist div {
	width: 350px;
	text-align: center;
	font-size: 30px;
	height: 70px;
	line-height: 70px;
	border-bottom: 2px solid #eee;
	cursor: pointer;
	transition: 0.3s;
	color: white;
}
#menu .themelist div:hover {
	letter-spacing: 3px;
}

#menu .themelist div.aesx {
	background-color: #444;
	font-weight: bold;
	font-family: 'Lexend Tera', sans-serif;
}
#menu .themelist div.aesc {
	background: linear-gradient(-45deg, rgb(255, 0, 98), rgb(0, 187, 255));
	font-family: Rajdhani;
	font-size: 40px;
}
#menu .themelist div.psn5 {
	font-family: Persona5;
	background-color: red;
	text-shadow: black 2px 2px;
	font-size: 40px;
	text-shadow: black 3px 0, black -3px 0, black 0 3px, black 0 -3px, 
		black 3px 3px, black -3px -3px, black 3px -3px, black -3px 3px;
}
#menu .themelist div.psn5:hover {
	color: aqua;
	letter-spacing: 2px;
}
#menu .themelist div.rtro {
	font-family: retro;
	background-color: black;
	font-size: 50px;
}
#menu .themelist div.spor {
	background: linear-gradient(#fcab36, #e08a11);
	font-family: CubicGame;
}
#menu .themelist div.konb {
	font-family: KOnTitle;
	color: red;
	text-shadow: #fffdae 2px 0, #fffdae -2px 0, #fffdae 0 2px, #fffdae 0 -2px, 
		#fffdae 2px 2px, #fffdae -2px -2px, #fffdae 2px -2px, #fffdae -2px 2px;
	background-color: #2071c2;
	background: linear-gradient(to bottom, #48a3ff, #2071c2)
}
#menu .themelist div.vapo {
	background-image: url('./img/vapor.jpg');
	font-family: Vaporwave;
	text-shadow: aqua -1px -1px, red 1px 1px;
}
#menu .themelist div.psn3 {
	background-color: #003d5e;
	color: #24d1ff;
	font-family: Persona3;
}
#menu .themelist div.star {
	background-image: url('./img/space.jpg');
	background-size: cover;
	font-family: Stars;
	font-size: 40px;
}
#menu .themelist div.spgh {
	background-image: url('./img/spaghetti.png');
	font-family: "Comic Sans MS", cursive, sans-serif;
	background-size: cover;
	color: white;
	text-shadow: black 1px 0, black -1px 0, black 0 1px, black 0 -1px, 
		black 1px 1px, black -1px -1px, black 1px -1px, black -1px 1px;
}
#menu .themelist div.mtrl {
	background-image: url('./img/mtrl_banner.jpg');
	font-family: OpenSans;
	background-size: cover;
}

#menu_themes, #menu_links {
	overflow: hidden;
	overflow-y: scroll;
	height: 100%;
}

#menu_themes .header {
	font-size: 26px;
}

#customthemelist .theme_name {
	cursor: pointer;
	transition: 0.2s;
}
#customthemelist .theme_name:hover {
	color:#038b8b;
	letter-spacing: 2px;
}

#menu_home #credit {
	position: absolute;
	bottom: 10px;
	left: 10px;
	cursor: default;
	font-size: 10px;
}
#menu_home #credit a {
	text-decoration: none;
	color:#004c68;
}

#menu_customtheme .ace_editor {
	height: 350px;
}

#menu_modules .itemslist div {
	width: 307px;
	border: solid 2px var(--menu-tint);
	color: var(--menu-tint);
}
#menu .itemslist div:hover {
	width: 297px;
	letter-spacing: 2px;
}

#menu_modules .itemslist div[value='false'] {
	border-color: red;
	color: red;
}
#menu_modules .itemslist div[value='false']::after {
	content: '✖';
}

#menu_modules .itemslist div[value='true'] {
	border-color: green;
	color: green;
}
#menu_modules .itemslist div[value='true']::after {
	content: '✓';
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

@font-face {
	font-family: Rajdhani;
	src: url(./fonts/Rajdhani-Regular.ttf);
}

@font-face {
	font-family: EarwigFactory;
	src: url(./fonts/earwig\ factory\ rg.ttf);
}

@font-face {
	font-family: Persona5;
	src: url(./fonts/p5hatty.ttf);
}

@font-face {
	font-family: retro;
	src: url(./fonts/Pixelboy.ttf)
}

@font-face {
	font-family: CubicGame;
	src: url(./fonts/CubicGame.ttf);
}

@font-face {
	font-family: KOnTitle;
	src: url(./fonts/kontitle.ttf);
}

@font-face {
	font-family: KOnBody;
	src: url(./fonts/keionbu.ttf);
}

@font-face {
	font-family: Vaporwave;
	src: url(./fonts/Outrun-future.ttf);
}

@font-face {
	font-family: Persona3;
	src: url(./fonts/Persona3.ttf);
}

@font-face {
	font-family: Stars;
	src: url(./fonts/Atures.ttf);
}

@font-face {
	font-family: OpenSans;
	src: url(./fonts/OpenSans-SemiBold.ttf);
}